<!DOCTYPE html>
<html>
<head>
    <title>Collar - Login</title>
</head>
<body>
<div class="login-form">
    <h2>Login</h2>
    <form method="post">
        <input type="text" title="email" name="email" placeholder="example@collarmc.com" />
        <input type="password" title="password" name="password" placeholder="password" />
        <button type="submit" class="btn">Login</button>
    </form>
</div>
<div>
    Don't have an account? <a href="/app/signup">Create an account</a>
</div>
</body>
</html>