name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 16
      - name: Set up MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          image-version: latest
          port: 27017
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: tests/target/site/jacoco-aggregate/
      - name: Upload server.jar
        uses: actions/upload-artifact@v2
        with:
          name: server.jar
          path: server/target/server.jar
      - name: Upload client.jar
        uses: actions/upload-artifact@v2
        with:
          name: client-snapshot.jar
          path: client/target/client-0.1.0-SNAPSHOT.jar
      - name: Upload client-full.jar
        uses: actions/upload-artifact@v2
        with:
          name: client-snapshot-full.jar
          path: client/target/client-0.1.0-SNAPSHOT-full.jar
          
